---
import Test from "../layouts/Test.astro"
import ProjectCardL from "../components/ProjectCardL.astro";
import ProjectCardR from "../components/ProjectCardR.astro";
import YoutubeVidCard from "../components/YoutubeVidCard.astro";

import { Image } from "astro:assets";
import Fi from '../assets/images/home/1.webp'
import Carbon_Collector from '../assets/images/blog/carbon_collector.jpeg'
---
<Test>

  <!-- <h1>{yml.title}</h1>
  <p>{yml.description}</p> -->


  

  
<!--Starting info -->
<div class="relative flex items-center justify-between w-full h-96 bg-gray-200 rounded-lg">
  <div class="flex flex-col justify-center w-1/2 sm:w-2/3 md:w-3/4 lg:w-4/5 xl:w-5/6 px-12">
    <h2 class="text-3xl font-bold">All Projects from SPACE DUST</h2>
    <p class="text-lg mt-4">Paragraph text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <Image src={Fi} alt="Image" class="object-cover h-full w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6"></Image>
</div>



<!-- Project Component Right Image -->
<ProjectCardR title = 'AirHyde' description="discover" imgaddr = {Carbon_Collector}/>

<!-- Project Component Left Image -->
<ProjectCardL  title = 'Skymeld' description="unkown" imgaddr = {Fi}/>


<!-- Last did you know -->
<div class="flex flex-col md:flex-row bg-white rounded-lg shadow-md mx-4 my-4">
  <Image src={Fi} alt="Image" class="object-cover h-full w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6"></Image>
  <div class="flex flex-col p-4 md:w-2/3">
    <h2 class="text-xl font-bold mb-2">Did You Know?</h2>
    <p class="text-gray-700">Paragraph text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
</Test>