---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { Image } from 'astro:assets';
// import HeroImage from '../../assets/images/AURA.webp'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {frontmatter} = Astro.props;
const {layout,title,description,pubDate,author,hero_image,path} = frontmatter;
---
<!doctype html>
<html lang="en">
	<head>
		<!-- <BaseHead/> -->
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body >
		<Header />
		<div class="container mx-auto px-4">
  
			<h1 class="text-4xl font-bold text-center mt-16 mb-16">{title}</h1>
		  
			<!-- <Image src={hero_image.src} alt="Featured Image" class="rounded-lg w-1/2 mx-auto shadow-md mb-8" loading = "eager"></Image> -->
  

			<div class="max-w-3xl mx-auto">

				<h2 class="text-2xl font-semibold mb-4">Intro</h2>
				<p class="text-lg leading-relaxed">{description}</p>
			
			
				<div class="divide-y divide-gray-200">
				  <div class="py-4">
					<h3 class="text-xl font-medium mb-2">Subsection Heading</h3>
					<p>xyz</p>
				  </div>
				  <div class="py-4">dd
					</div>
				</div>
			
			
				<!-- <Image src={hero_image.src} alt="Content1" class="rounded-lg w-3/4  mx-auto shadow-md mt-8 mb-4" ></Image> -->
			
				<p class="text-lg leading-relaxed">Additional content.</p>
			  </div>
			
			
			</div>
		  
		
		<slot/>

		<Footer />
	</body>
</html>