---
import { Image } from "astro:assets";
import logo from "../assets/images/spacedust_short.png"
// import logo from "../assets/images/spacedust.svg"
import InstaLogo from '../assets/icons/black-instagram-icon.svg'
import DiscordLogo from '../assets/icons/discord-round-black-icon.svg'
import YoutubeLogo from '../assets/icons/youtube-icon.svg'
import TwitterLogo from '../assets/icons/x-social-media-black-icon.svg'
import LinkedinLogo from '../assets/icons/linkedin.svg'

const curdate = new Date();
let year = curdate.getFullYear();
---

<footer class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto">
        <!--SUBSCRIBE TO NEWSLETTER DIV! DONT DELETE  -->
        <!-- <div class="md:flex md:-mx-3 md:items-center md:justify-between">
            <h1 class="text-xl font-semibold tracking-tight text-gray-800 md:mx-3 xl:text-2xl dark:text-white">Subscribe to our monthly newsletter</h1>
            
            <div class="mt-6 md:mx-3 shrink-0 md:mt-0 md:w-auto">
                <a href="#" class="inline-flex items-center justify-center w-full px-4 py-2 text-sm text-white duration-300 bg-gray-800 rounded-lg gap-x-3 hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
                    <span>Sign Up Now</span>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg>
                </a>
            </div>
        </div> -->
        
        <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700">

        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Quick Link</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="/" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Home</a>
                    <a href="/about" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">About Us</a>
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Missions</a>
                </div>
            </div>

            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Media</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">News Room</a>
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Careers</a>
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Learning Resources</a>
                </div>
            </div>

            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Services</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Sitemap</a>
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Privacy Policy</a>
                    <a href="#" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">Blog</a>
                </div>
            </div>

            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Contact Us</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <div class="flex justify-center mt-6 lg:flex lg:mt-0 lg:-mx-2">
                        <a href="https://www.youtube.com/@thespacedust" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Youtube">
                            <Image src={YoutubeLogo} loading="eager" alt="YoutubeLogo" width = "20"/>
                        </a>
            
                        <a href="https://www.instagram.com/spacedust.in/" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Instagram">
                            <Image src={InstaLogo} loading="eager" alt="InstaLogo" width="20" />    
                        </a>
    
                        <a href="https://twitter.com/TheSpaceDust" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Instagram">
                            <Image src={TwitterLogo} loading="eager" alt="TwitterLogo" width="20" />    
                        </a>
            
                        <a href="https://discord.gg/K4hR36xcrQ" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Discord">
                            <Image src={DiscordLogo} loading="eager" alt="DiscordLogo" width="20" />
                        </a>
    
                        <a href="https://linkedin.com/company/thespacedust" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Discord">
                            <Image src={LinkedinLogo} loading="eager" alt="LinkedinLogo" width="20" />
                        </a>
                    </div>

                    <a href="mailto:info@spacedust.in" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500">info@spacedust.in</a>
            </div>
        </div>
        </div>  
        
        <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700">
        
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <a href="/">
                <Image src={logo} alt="logo" width={200}/>
            </a>
                <p class="text-gray-600 dark:text-gray-300">&copy; <span id="CopyrightYear">{year}</span> Space Dust. All rights reserved.</p>
        </div>
    </div>
</footer>