---
import { SITE_TITLE } from '../consts';

import { Image } from "astro:assets";
import HeaderLogo from "../assets/images/spacedust-trans.webp"
import InstaLogo from '../assets/icons/black-instagram-icon.svg'
import DiscordLogo from '../assets/icons/discord-round-black-icon.svg'
import YoutubeLogo from '../assets/icons/youtube-icon.svg'
import TwitterLogo from '../assets/icons/x-social-media-black-icon.svg'
import HamburgerIcon from '../assets/icons/burger-menu.svg'
import CrossIcon from '../assets/icons/cross-icon.svg'

import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
        <ViewTransitions />
    </head>
<body>
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"></div></div>

<nav x-data="{ isOpen: false }" class="bg-gray-500 shadow fill-25 rounded-2xl m-2 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 border border-gray-100  dark:bg-gray-800">
    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="flex items-center justify-between">
                <a href="/">
                    <Image src={HeaderLogo} loading="eager" alt="HeaderLogo-SpaceDust" width="200" />
                </a>

                <!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button x-cloak @click="isOpen = !isOpen" type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                        <Image src={HamburgerIcon} loading="eager" alt="Hamburger" width="30" />
                        <Image src={CrossIcon} loading="eager" alt="CrossIcon" width="30" />          
                    </button>
                </div>
            </div>

            <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 flex-1 w-full px-6 py-2 transition-all duration-300 ease-in-out bg-white dark:bg-gray-800 lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center lg:justify-between ">
                <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
                    <a href="/" class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>
            
                    <a href="/about" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">About</a>
            
                    <a href="/projects" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Projects</a>
            
                    <a href="/blog" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Blog</a>
            
                 
                </div>
                </div>
    
                <div class="flex justify-center mt-6 lg:flex lg:mt-0 lg:-mx-2">
                    <a href="https://www.youtube.com/@thespacedust" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Youtube">
                        <Image src={YoutubeLogo} loading="eager" alt="YoutubeLogo" width = "20"/>
                    </a>
        
                    <a href="https://www.instagram.com/spacedust.in/" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Instagram">
                        <Image src={InstaLogo} loading="eager" alt="InstaLogo" width="20" />    
                    </a>

                    <a href="https://twitter.com/TheSpaceDust" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Instagram">
                        <Image src={TwitterLogo} loading="eager" alt="TwitterLogo" width="20" />    
                    </a>
        
                    <a href="https://discord.gg/K4hR36xcrQ" class="mx-2 text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Discord">
                        <Image src={DiscordLogo} loading="eager" alt="DiscordLogo" width="20" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>
